<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="storeFront" class="com.ibasco.agql.protocols.valve.steam.webapi.interfaces.SteamStorefront">
        <constructor-arg value="F7738655EF1D83B1DFF0C0536CCC31AE"/>
    </bean>
    <bean id="steamNews" class="com.ibasco.agql.protocols.valve.steam.webapi.interfaces.SteamNews">
        <constructor-arg value="F7738655EF1D83B1DFF0C0536CCC31AE"/>
    </bean>
</beans>
